# PyTorch and related packages
https://download.pytorch.org/whl/cu121/torch-2.2.2%2Bcu121-cp312-cp312-win_amd64.whl
https://download.pytorch.org/whl/cu121/torchvision-0.17.2%2Bcu121-cp312-cp312-win_amd64.whl
https://download.pytorch.org/whl/cu121/torchaudio-2.2.2%2Bcu121-cp312-cp312-win_amd64.whl
fastapi==0.100.0
starlette==0.27.0
numpy==1.26.4
pandas==2.0.2
tensorflow==2.16.1
gradio
python-dateutil==2.8.2
pytz==2023.3
tzdata==2023.3
tensorflow-intel==2.16.1
keras==3.3.3
typing-extensions==4.11.0
soundfile
nvidia-cudnn-cu12
scipy
torch
numpy   
matplotlib
scikit_learn
sympy
tqdm
psutil
librosa
mir_eval
gputil
ffmpeg
pydub
mir_eval
optuna
cachetools
h5py
portalocker